@import "tailwindcss";

:root {
  --background: #18181b;
  --foreground: #f4f4f5;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #18181b;
  color: #f4f4f5;
  font-family: Arial, Helvetica, sans-serif;
}